 .bodySimpleform {
     margin: 0;
     padding: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #f0f0f0;
     font-family: Arial, sans-serif;
 }

 .containerSimpleform {
     background: rgb(213, 216, 233);
     padding: 40px;
     border-radius: 12px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     width: 400px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 15px;
 }

 .displayDataSimpleform {
     background: rgb(182, 179, 173);
     padding: 10px;
     margin-top: 10px;
     border-radius: 6px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     width: 360px;
     display: flex;
     flex-direction: column;
     gap: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #304555;
     font-size: 12px;
     align-items: left;
 }

 .displayError {
     background: rgb(255, 255, 255);
     padding: 10px;
     margin-top: 10px;
     border-radius: 6px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     width: 360px;
     display: flex;
     flex-direction: column;
     gap: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #cd5074;
     font-size: 14px;
     font-weight: bold;
     align-items: center;
 }

 .errorLabel {
     border: 4px solid #bc2121;
     font-weight: bold;
 }

 .labelSimpleform {
     font-weight: bold;
     margin-bottom: 4px;
     /* border: 1px solid #bc2121; */
     border-radius: 6px;
     color: #304555;

 }

 .inputSimpleform,
 .selectSimpleform {
     background: rgb(236, 151, 22);
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 6px;
     width: 40%;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #304555;
     font-size: 14px;
 }

 .buttonSimpleform {
     margin-top: 10px;
     padding: 10px;
     border: none;
     background: #4a6cf7;
     color: white;
     border-radius: 8px;
     cursor: pointer;
 }

 .buttonSimpleform:hover {
     background: #3b57c9;
 }