 body {
     margin: 0;
     padding: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #f0f0f0;
     font-family: Arial, sans-serif;
 }

 .container {
     background: rgb(201, 202, 207);
     padding: 40px;
     border-radius: 12px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     width: 300px;
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 .displayData {
     background: rgb(218, 221, 236);
     padding: 10px;
     margin-top: 10px;
     border-radius: 6px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     width: 360px;
     display: flex;
     flex-direction: column;
     gap: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #304555;
     font-size: 12px;
     align-items: center;
 }
  .displayError {
     background: rgb(255, 255, 255);
     padding: 10px;
     margin-top: 10px;
     border-radius: 6px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     width: 360px;
     display: flex;
     flex-direction: column;
     gap: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #cd5074;
     font-size: 14px;
     font-weight: bold;
     align-items: center;
 }
 .errorLabel {
     border: 4px solid #bc2121;
     font-weight: bold;
 }

 label {
     font-weight: bold;
     margin-bottom: 4px;
     /* border: 1px solid #bc2121; */
     border-radius: 6px;
     color: #304555;

 }

 input,
 select {
     background: rgb(223, 222, 237);
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 6px;
     width: 100%;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #304555;
     font-size: 12px;
 }

 button {
     margin-top: 10px;
     padding: 10px;
     border: none;
     background: #4a6cf7;
     color: white;
     border-radius: 8px;
     cursor: pointer;
 }

 button:hover {
     background: #3b57c9;
 }